In [3]:
#This notebook will explore teams by play type. Including some clustering algorthim work

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('../data/interim/nfl_pbp_next_scores.csv', low_memory=False)

In [3]:
#Trim to just 2019 Data for now

In [4]:
df_2019 = df.loc[df['season']==2019]

In [82]:
#Takes a dataframe of cleaned plays and creates a new dataframe that grabs the number of pass and run plays by team. 
#Also finds the percent of total offensive plays (not including punts, fgs etc. for pass and run)

def make_team_play_db(df):
    
    df_ptypes = df[['posteam','play_type','play_id']] #grabs the required data from the large dataframe
    
    df_play_breakdown = df_ptypes.groupby(['posteam','play_type']).count() #Groups the dataframe by team and then play type and then counts the number of each type of paly
    
    teams = ['GB', 'CHI', 'CAR', 'LAR', 'WAS', 'PHI', 'BUF', 'NYJ', 'ATL',
           'MIN', 'MIA', 'BAL', 'KC', 'JAX', 'CLE', 'LAC', 'TEN', 'IND',
           'CIN', 'SEA', 'TB', 'SF', 'DAL', 'NYG', 'DET', 'ARI', 'NE', 'PIT',
           'NO', 'HOU', 'OAK', 'DEN']

    lst_teams = []
    lst_passes = []
    lst_runs = []
    lst_total = []

    for team in teams:
        lst_teams.append(team)
        lst_passes.append(df_play_breakdown['play_id'][team]['pass'])
        lst_runs.append(df_play_breakdown['play_id'][team]['run'])
        lst_total.append(df_play_breakdown['play_id'][team]['pass'] + df_play_breakdown['play_id'][team]['run'])

    df_team_plays = pd.DataFrame(zip(lst_teams, lst_passes, lst_runs, lst_total),columns=['team','passes','runs','total']).sort_values(by='team').reset_index(drop=True)

    #Add the percentage of each type
    
    df_team_plays['pass_percent'] = df_team_plays['passes'] / df_team_plays['total'] * 100
    df_team_plays['run_percent'] = df_team_plays['runs'] / df_team_plays['total'] * 100

    return df_team_plays

In [83]:
df_team_plays = make_team_play_db(df_2019)

In [84]:
df_team_plays

   team  passes  runs  total  pass_percent  run_percent
0   ARI     597   385    982     60.794297    39.205703
1   ATL     729   350   1079     67.562558    32.437442
2   BAL     466   571   1037     44.937319    55.062681
3   BUF     545   452    997     54.663992    45.336008
4   CAR     687   381   1068     64.325843    35.674157
5   CHI     622   389   1011     61.523244    38.476756
6   CIN     652   377   1029     63.362488    36.637512
7   CLE     576   387    963     59.813084    40.186916
8   DAL     617   439   1056     58.428030    41.571970
9   DEN     542   398    940     57.659574    42.340426
10  DET     608   399   1007     60.377358    39.622642
11   GB     607   388    995     61.005025    38.994975
12  HOU     580   423   1003     57.826520    42.173480
13  IND     540   456    996     54.216867    45.783133
14  JAX     629   377   1006     62.524851    37.475149
15   KC     596   359    955     62.408377    37.591623
16  LAC     623   358    981     63.506626    36.493374
17  LAR     650   389   1039     62.560154    37.439846
18  MIA     669   340   1009     66.303271    33.696729
19  MIN     491   462    953     51.521511    48.478489
20   NE     642   430   1072     59.888060    40.111940
21   NO     598   385    983     60.834181    39.165819
22  NYG     649   357   1006     64.512922    35.487078
23  NYJ     569   370    939     60.596379    39.403621
24  OAK     548   430    978     56.032720    43.967280
25  PHI     648   444   1092     59.340659    40.659341
26  PIT     539   381    920     58.586957    41.413043
27  SEA     561   466   1027     54.625122    45.374878
28   SF     511   479    990     51.616162    48.383838
29   TB     668   394   1062     62.900188    37.099812
30  TEN     496   427    923     53.737811    46.262189
31  WAS     526   351    877     59.977195    40.022805